::-webkit-scrollbar {
    width: 10px;
    background-color: #868686;
}

/* قسمت ثابت */
::-webkit-scrollbar-track {
    box-shadow: inset 0px -1px 13px #e2e2e2;

}

/* قسمت متحرک */
::-webkit-scrollbar-thumb {
    background: #5e5e5e;
}
::-webkit-scrollbar-thumb:hover {
    background: #0837f9;
}

.text2 {
    color: #000;
    text-align: center;
    padding: 15px;
}

.text3 {
    color: #000;
    text-align: center;
}

.column {
    float: left;
    width: 335px;
    padding: 5px;
    margin-top: 10px;
}

img {
    border-radius: 3rem;
    padding: 1rem;
    margin-top: -2.5rem;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.btn {
    margin-right: 5px;
}

iframe {
    width: 400px;
    height: 400px;
    min-width: 98%;
    border-radius: 10px;
    margin-right: 15px;
}

li:hover {
    background-color: #0837f9;
    border-radius: 20px;
    color: #ffffff;
}

footer {
    background: #0837f9;
    color: #000;
}

@media screen and (max-width: 500px) {
    .column {
      width: 105%;
      padding: 5px;
    }
    iframe {
        width: 80px;
        min-width: 92%;
    }
}

@media screen and (min-width: 1200px) {
    .column {
      width: 25%;
      padding: 5px;
    }
    iframe {
        width: 160px;
        min-width: 97%;
    }
}

@media screen and (min-width: 1020px) {
    .column {
      width: 25%;
      padding: 5px;
    }
    iframe {
        width: 80px;
        min-width: 97%;
    }
}

