body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 92.3%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}

button {
    width: 100%;
    padding: 10px;
    background: #0837f9;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 17px;
}

button:hover {
    background: #0033ff67;
    color: rgb(255, 255, 255);
}